global
	ulimit-n        131072
	log 127.0.0.1   local0
	log 127.0.0.1   local1 notice
	maxconn 60000

defaults
	log     global
	mode    http
	option  httplog
	option  dontlognull
	option  forwardfor
	timeout connect 5000
	timeout client  50000
	timeout server  50000
	balance roundrobin

listen stats
	bind 0.0.0.0:8080
	stats enable
	stats uri /stats
	stats realm Haproxy\ Statistics

frontend http
	bind *:80
	default_backend cms

	acl is_admin path_beg /super/
	use_backend admin if is_admin

	acl is_app path_beg "${APP_ROUTE}"
	use_backend app if is_app

backend cms
	server cms cms_main:80 check

backend admin
	server admin cms_admin:80 check

backend app
	server dev docker.for.mac.localhost:"${APP_PORT}" check
